<header class="mb-4">
  <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
            <%= link_to "Rails Bootstrap Kickoff", root_path, class: "navbar-brand" %>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0"> 
                        <li><%= link_to "Home", root_path, class: "nav-item nav-link" %></li>
                        <li><%= link_to "Basic Link", "#", class: "nav-item" %></li>
                        <% if user_signed_in? %>
           <li><%= link_to "Edit Account", edit_user_registration_path, class: "btn btn-secondary nav-item" %></li>
          <li> <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"btn btn-default nav-item" %></li>
        <% else %>
         <li> <%= link_to "Login", new_user_session_path, class:"btn btn-primary nav-item" %></li>
          <li><%= link_to "Sign Up", new_user_registration_path, class:"btn btn-success nav-item" %></li>
        <% end %>
       </ul>
     </div>
   </div>
  </nav>
</header>

 