<div class="card text-white bg-success mb-4">
<div class="card-header">
<%= course.title %>
</div>
<div class="card-body">
<%= course.description %>
</div>
<div class="card-footer">
<%= course.created_at.strftime('%d-%b-%y') %>
<%= course.user %>
</div>
<div class="card-footer mb-2">
<%= link_to "Show", course, class: "btn btn-sm btn-primary" %>
<%= link_to "Edit", edit_course_path(course), class: 'btn btn-sm btn-warning' %>
<%= link_to "Delete", course, method: :delete, data: { confirm: "Are You Sure?" }, class: "btn btn-sm btn-danger" %>
</div>
</div>