<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <% if course.persisted? %>
      <div class="float-right">
        <%= link_to 'Delete', course, method: :delete, class: "btn btn-danger mb-2", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if course.persisted? %>
      <%= link_to "Cancel", course, class: "btn btn-warning" %>
    <% else %>
      <%= link_to "Cancel", courses_path, class: "btn btn-warning" %>
    <% end %>
  </div>
<% end %>
