<div class="row mt-5 mb-5">
<div class="card">
<div class="card-header">
<%= course.title %>
</div>
<div class="card-body">
<%= course.description %>
</div>
<div class="card-footer">
<%= course.created_at %>
<%= course.user %>
</div>
<div class="card-footer">
<%= link_to "Show", course, class="btn btn-sm btn-primary" %>
<%= link_to "Edit", edit_course_path(course) %>
<%= link_to "Destroy", course, method: :delete, data: { confirm: "Are You Sure?" } %>
</div>
</div>
</div>