<div class="row mt-5 mb-5">
  <div class="col-sm-6">
    <h1>Latest Courses</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_course_path, class: 'btn btn-primary' do %>
    Add New Course
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Title</th>
            <th>Description</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @courses.each do |course| %>
        <%= content_tag :tr, id: dom_id(course), class: dom_class(course) do %>
          

                      <td><%= course.title %></td>
                      <td><%= course.description %></td>
          
          
            <td><%= link_to 'Show', course %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
