<div class="page-header mt-5 mb-5">
  <div class="mb-3">
  <%= link_to courses_path, class: 'btn btn-success' do %>
    All Courses
  <% end %>
  <%= link_to edit_course_path(@course), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  </div>
  <h1>Show course: <%= @course.title %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @course.title %></dd>
  <dt>Description:</dt>
  <dd><%= @course.description %></dd>
</dl>
